





/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer[role=contentinfo] {
	background-color: $bcdark;
	margin: 0;
	padding: .2em .2em;
}