




/*------------------------------------*\
    $SITE
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
  background : $background;
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color : transparent;
}

body {
  font-family : $basefont;
  line-height : $baselineheight;
  color : $textcolor;
}


/* NOW START YOUR SITE STYLE HERE, 
I GIVE YOU THE TOOLS, BUT THE DESIGN IT'S UP TO YOU */

/*------------------------------------*\
    $AWESOME
\*------------------------------------*/



/* HEADER  ================================================================== */
@import "organisms/header.scss";

/* FOOTER  ================================================================== */
@import "organisms/footer.scss";


.section--feature {
	background-color: cyan;
}

.main-content {
	margin-top: 3em;
}

.language-list {
  display: inline-block;
  min-width: 25%;
  max-width: 35%;
  margin: 0;
  position: absolute;
  right: 0;
  top: .7em;
}

.language-list li {
  display: inline-block;
  padding: 1% 3%;
  margin: 0 2%;
}