




/*------------------------------------*\
    $SITE
\*------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
  background : $background;
  -webkit-overflow-scrolling : touch;
  -webkit-tap-highlight-color : transparent;
}

body {
  font-family : $basefont;
  line-height : $baselineheight;
  color : $textcolor;
}


/* NOW START YOUR SITE STYLE HERE, 
I GIVE YOU THE TOOLS, BUT THE DESIGN IT'S UP TO YOU */

/*------------------------------------*\
    $AWESOME
\*------------------------------------*/



/* HEADER  ================================================================== */
@import "organisms/header.scss";

/* FOOTER  ================================================================== */
@import "organisms/footer.scss";


.section--feature {
	background-color: cyan;
}

.main-content {
	margin-top: 3em;
}

.language-list {
  display: inline-block;
  text-align: right;
  min-width: 15%;
  max-width: 35%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: .7em;
}

.language-list li {
  display: inline-block;
  padding: .1em .1em;
  margin: 0 .2em;
}

.language-list li:last-child {
  margin-right: .4em;
}

.logo_container {
  display: inline-block;
  position: fixed;
  top: .5%;
  left: 35%;
}

.logo {
  height: 2.3em;
}

//GMap
.container_map {
  width: 100%;
  background-color: $bclight;
}


.googlemap {
  width: 100%;
  height: 70vh;
  border-top: .2em solid $bcdark;
  border-bottom: .5em solid $bcdark;
}


.route_title {
  padding-top: .1em;
  color: $white;
}

.route_title, .route_desc {
  text-align: center;
}


.route_desc {
  color: $lightergrey;
}

.map-options li {
  background-color: $bclighter;
  text-align: center;
  border: 1px solid $bcdark;
}

.icons {
  color: $white;
  cursor: pointer;
}


.icons::before {
  font-size: 2rem;
  color: $grey;
  padding: .2em;
}

.icon-hiking__compass-01::before,
.icon-hiking_distance-02::before,
.icon-hiking_altitude-02::before {
  color: orange;
}