<article class="container_map">

  <h4 class="route_title">fghfghgf</h4>
  <summary class="route_desc">fhfhh</summary>

  <div id="map" class="googlemap">

    <button id="js-btn--geolocate" class="btn--geolocate"><span class="icon-hiking_target-01"></span></button>
    <button id="js-btn--canvas" class="btn--canvas"></button>

    <ul id="js-canvas-list" class="canvas-list">
      <li>
        <label class="canvas_labels">
          <input type="radio" name="canvas-layer" value="mapquest">
          <span class="input--canvas"></span>
        </label>
      </li>
      <li>
        <label class="canvas_labels">
          <input type="radio" name="canvas-layer" value="esri">
          <span class="input--canvas"></span>
        </label>
      </li>
      <li>
        <label class="canvas_labels">
          <input type="radio" name="canvas-layer" value="stamen">
          <span class="input--canvas"></span>
        </label>
      </li>
    </ul>

  </div>


  <ul class="map-options item-4 grid">
    <li class="xs-item-1"><span class="icons icon-nature__bear__claw-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking__shelter-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking__ranger-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking--picnic-area-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-police__badge-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-star-full"></span></li>

    <li class="xs-item-5"><span class="icons icon-hiking__compass-01">40.41415415,-23.343434</span></li>
    <li class="xs-item-1"><span class="icons icon-contact_info-01"></span></li>
    <li class="xs-item-3"><span class="icons icon-hiking_distance-02">23.5 km</span></li>
    <li class="xs-item-3"><span class="icons icon-hiking_altitude-02">3.2345 m.</span></li>
  </ul>


</article>

<script type="text/javascript">

//ELEGIDO

$(document).ready(function(){

  // ZOOM OPTIONS
  view = new ol.View({
    center: [-6217890.205764902, -1910070.6040274133],
    zoom: 3,
    maxZoom: 18,
    minZoom: 3,
  });



  // MAPAS DISPONIBLES
  var mapquest = new ol.layer.Tile({
    source: new ol.source.MapQuest({ layer: 'osm' }),

    visible: true,
    name: 'mapquest'
  });

  var esri = new ol.layer.Tile({
    source: new ol.source.XYZ({ 
      attributions: [
        new ol.Attribution({
          html: 'Tiles &copy; <a href="http://server.arcgisonline.com/ArcGIS/' + 'rest/services/World_Topo_Map/MapServer"</a>'
        })
      ],
      url: 'http://server.arcgisonline.com/ArcGIS/rest/services/' + 'World_Topo_Map/MapServer/tile/{z}/{y}/{x}'
    }),

    visible: false,
    name: 'esri'
  });

  var stamen = new ol.layer.Group({
    layers: [

      new ol.layer.Tile({
        source: new ol.source.Stamen({ layer: 'watercolor' })
      }),

      new ol.layer.Tile({
        source: new ol.source.Stamen({ layer: 'terrain-labels' })
      }),

    ],

    visible: false,
    name: 'stamen'
  });

  //DEFINO AQUI QUE QUIERO (Zoom, escala etc...)
  var controls = ol.control.defaults().extend([ new ol.control.ScaleLine() ]);


  //CREAMOS EL MAPA y metemos las variables antes definidas
  var map = new ol.Map({
    target: 'map',
    controls: controls,
      renderer: 'canvas',
      layers: [mapquest, esri, stamen],
      view: view
  });
  $("#js-canvas-list input[type=radio]").change(function() {
    var layer = $(this).val();

    map.getLayers().getArray().forEach(function(e) {
      var name = e.get('name');
      e.setVisible(name == layer);
    });

  });

  //GEOLOCATOR y Botón geolocator
  var geolocation = new ol.Geolocation({
    projection: view.getProjection(),
    tracking: true
  });

  $("#js-btn--geolocate").on('click', function(){
    var position = geolocation.getPosition();

    var point = new ol.layer.Vector({
      source: new ol.source.Vector({
        features: [
          new ol.Feature({
            geometry: new ol.geom.Point(position)
          })
        ]
      })
    });
    
    map.addLayer(point);
    view.setCenter(position);
    view.setResolution(2.388657133911758);
    return false;
  });


  //Botón para tipos de mapa

  $("#js-btn--canvas").on('click', function() {
    $("#js-canvas-list").toggleClass("js-canvas-list");
    $("#js-canvas-list li").toggleClass("active");
  })


















  mapFullScreen();

  function mapFullScreen() {
    $("footer").css({"display": "none"});
    $(".main-content").css({"height": "100%"});
  }



});
</script>

