<article class="container_map">
  <h4 class="route_title">fghfghgf</h4>
  <summary class="route_desc">fhfhh</summary>
  <div id="map" class="googlemap">
    <button id="js-btn--geolocate" class="btn--geolocate"><span class="icon-hiking_target-01"></span></button>
   <!--  <button id="js-btn--canvas-type" class="btn--canvas-type"></button>
    <ul id="js-mapcanvas" class="mapcanvas">
      <li class="mapcanvas_list">1</li>
      <li class="mapcanvas_list">2</li>
      <li class="mapcanvas_list">3</li>
    </ul> -->
  </div>
  <ul class="map-options item-4 grid">
    <li class="xs-item-1"><span class="icons icon-nature__bear__claw-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking__shelter-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking__ranger-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-hiking--picnic-area-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-police__badge-01"></span></li>
    <li class="xs-item-1"><span class="icons icon-star-full"></span></li>

    <li class="xs-item-5"><span class="icons icon-hiking__compass-01">40.41415415,-23.343434</span></li>
    <li class="xs-item-1"><span class="icons icon-contact_info-01"></span></li>
    <li class="xs-item-3"><span class="icons icon-hiking_distance-02">23.5 km</span></li>
    <li class="xs-item-3"><span class="icons icon-hiking_altitude-02">3.2345 m.</span></li>
  </ul>
</article>

<script type="text/javascript">

//ELEGIDO

$(document).ready(function(){

  view = new ol.View({
    center: [-6217890.205764902, -1910070.6040274133],
    zoom: 3,
    maxZoom: 18,
    minZoom: 3,
  });

  var baseLayer = new ol.layer.Tile({
    source: new ol.source.MapQuest({ layer: 'osm' })
  });



  var controls = ol.control.defaults().extend([
                  new ol.control.ScaleLine(),
                ])






  var map = new ol.Map({
    target: 'map',
    controls: controls,
      renderer: 'canvas',
      layers: [baseLayer],
      view: view
  });























  mapFullScreen();

  function mapFullScreen() {
    $("footer").css({"display": "none"});
    $(".main-content").css({"height": "100%"});
  }



});
</script>

