
<article class="container_map">
	<h4 class="route_title">Nombre de la ruta seleccionada</h4>
	<summary class="route_desc">Ciudad de la ruta (País)</summary>
	<div id="map" class="googlemap"></div>
		<ul class="map-options item-4 grid">
			<li class="xs-item-1">AAa</li>
			<li class="xs-item-1">BB</li>
			<li class="xs-item-1">CC</li>
			<li class="xs-item-1">44</li>
			<li class="xs-item-1">55</li>
			<li class="xs-item-1">666</li>
			<li class="xs-item-3">777777</li>
			<li class="xs-item-3">888888</li>
			<li class="xs-item-2">99999</li>
			<li class="xs-item-2">110101</li>
			<li class="xs-item-2">111111</li>
		</ul>
</article>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script>
	var map = L.map('map').setView([51.505, -0.09], 13);
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: "dinosaurios and co"
	}).addTo(map);


	//marker
	var marker = L.marker([51.5, -0.09]).addTo(map);
	//circle
	var circle = L.circle([51.508, -0.11], 500, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
}).addTo(map);
</script>