
<article class="container_map">
	<h4 class="route_title">Nombre de la ruta seleccionada</h4>
	<summary class="route_desc">Ciudad de la ruta (País)</summary>
	<div id="map" class="googlemap"></div>
		<ul class="map-options item-4 grid">
			<li class="xs-item-1">AAa</li>
			<li class="xs-item-1">BB</li>
			<li class="xs-item-1">CC</li>
			<li class="xs-item-1">44</li>
			<li class="xs-item-1">55</li>
			<li class="xs-item-1">666</li>
			<li class="xs-item-3">777777</li>
			<li class="xs-item-3">888888</li>
			<li class="xs-item-2">99999</li>
			<li class="xs-item-2">110101</li>
			<li class="xs-item-2">111111</li>
		</ul>
</article>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script>
	// var map = new ol.Map({
 //    target: 'map',  // Con esto llamo a mi ID 
 //    layers: [				
 //    // Aquí definimos las layers de nuestro mapa 
 //    //(Tile es el mapa en sí, que se carga en "baldosas"(tiles))
 //      new ol.layer.Tile({
 //        source: new ol.source.MapQuest({layer: 'sat'})
 //      })
 //    ],
 //    view: new ol.View({
 //      center: ol.proj.transform([37.41, 8.82], 'EPSG:4326', 'EPSG:3857'),
 //      zoom: 4
 //    })
 //  });


// new ol.Map({
//     layers: [
//       new ol.layer.Tile({source: new ol.source.OSM()})
//     ],
//     view: new ol.View({
//       center: [0, 0],
//       zoom: 2
//     }),
//     target: 'map'
//   });



var map = new ol.Map({
  view: new ol.View({
    center: [0, 0],
    zoom: 1
  }),
  layers: [
    new ol.layer.Tile({
      source: new ol.source.MapQuest({layer: 'osm'})
    })
  ],
  target: 'map'
});
</script>