
<h2>All the routes</h2>

<% @routes.each do |route| %>
  <article class="route">
    <h3 class="title"><%= link_to(route.name, route_path(route.id)) %></h3>
    <p class="description"><%= route.description %></p>
    <p class="location"><%= route.city %>(<%= route.country %>)</p>
  </article>

<% end %>